/*
Beach Color palette from https://www.w3schools.com/colors/colors_palettes.asp
HEX: #588c7e - Green
HEX: #f2e394 - Yellow
HEX: #f2ae72 - Orange
HEX: #d96459 - Red
*/
body {
  font-size: 18px;
  line-height: 1.5;
}
header,
nav,
main,
footer {
  margin: 1.25rem auto;
  max-width: 760px;
}

header,
footer {
  background-color: #96ceb4;
  color: #fff;
  text-align: center;
}

header {
  padding: 1.5rem;
}

p img {
  float: right;
  margin: 10px;
  border: 1px solid #000;
}
